[submodule "fs/jni/external/fuse"]
	path = fs/jni/external/fuse
	url = https://github.com/CyanogenMod/android_external_fuse.git
[submodule "jni/fusecompress/fusecompress"]
	path = fs/jni/fusecompress
	url = https://github.com/tex/fusecompress.git
[submodule "liblzma-android/xz"]
	path = liblzma-android/xz
	url = https://git.tukaani.org/xz.git
	branch = v5.2
